$background: #141517;
$headerbgColor: #0000009c;
$fontFamily: 'Pretendard-Regular';
$font-blod: 600;
$border-radius: 8px;
$border-color: #e5e5e5;
$main-color: #00ffa3;
$modal-bg-color: #fff;
$modal-border-color: #e5e5e5;
$font-color: #333;
$heading-color: #00ffa3;

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: $border-radius;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
  background-color: $background;
  font-family: $fontFamily;
}
form {
  width: inherit;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  input {
    border-radius: $border-radius;
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #373a3f;
    padding: 0 15px;

    &::placeholder {
      color: #ccc;
    }
  }
  textarea {
    border-radius: $border-radius;
    width: 100%;
    height: 240px;
    color: #fff;
    background-color: #373a3f;
    padding: 15px;
    font-family: $fontFamily;
    &::placeholder {
      color: #ccc;
    }
  }
}

#wrap {
  .header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: $headerbgColor;

    h1 {
      color: #fff;
      margin-left: 30px;
      font-weight: $font-blod;
      letter-spacing: 1.5px;
    }
  }

  .main-contents {
    color: #fff;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contents__inner {
      width: 90%;
      display: flex;
      justify-content: center;

      ul {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;

        li {
          display: flex;
          justify-content: center;
          width: 100%;

          &.form-box {
            form {
              width: inherit;
              display: flex;
              justify-content: center;
              margin-bottom: 20px;

              input {
                border-radius: $border-radius;
                width: 100%;
                max-width: 450px;
                height: 50px;
                color: #fff;
                background-color: #373a3f;
                padding: 0 15px;
                margin-right: 15px;

                &::placeholder {
                  color: #ccc;
                }
              }

              .certified-btn {
                background-color: $main-color;
                width: 100%;
                max-width: 120px;
                height: 50px;
                border-radius: $border-radius;
                color: #333;
                font-weight: $font-blod;
                transition: 0.3s;

                &:hover {
                  background-color: darken($main-color, 10%);
                }

                &:focus {
                  outline: none;
                  box-shadow: 0 0 0 2px rgba(0, 255, 163, 0.5);
                }
              }
            }
          }

          h2 {
            font-size: 2.4rem;
            margin-bottom: 40px;
          }
        }
      }
      .checkbox-container {
        input[type='checkbox'] {
          display: none;
        }

        display: inline-block;
        position: relative;
        cursor: pointer;
        margin-top: 20px;

        &::after {
          content: '';
          position: absolute;
          right: -29px;
          top: 50%;
          transform: translateY(-50%);
          width: 18px;
          height: 18px;
          background: url('../img/bg_check.svg') no-repeat center center;
          background-size: contain;
        }

        &.checked::after {
          background: url('../img/bg_radio_checked.svg') no-repeat center center;
        }
      }
    }
  }
}

/* 모달공통 */
.modal-common {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: 0.4s;
  color: #fff;
  overflow-y: scroll;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .modal__inner {
    padding: 20px;
    width: 90%;
    height: 700px;
    .modal-header {
      display: flex;
      justify-content: space-between;
      h2 {
        color: #fff;
        margin-bottom: 20px;
        font-size: 2rem;
        font-weight: $font-blod;
      }
      i {
        color: #fff;
        font-size: 2.5rem;
        cursor: pointer;
      }
    }

    /* // */

    /* 이용약관 및 개인정보 처리방침 */
    .term-privacy-text {
      height: 600px;
      background-color: #373a3f;
      overflow-y: auto;
      border-radius: $border-radius;
      color: #fff;
      padding: 30px;
      li {
        margin-bottom: 20px;
        &:first-child {
          h3 {
            font-size: 2rem;
            margin-bottom: 15px;
          }
        }
        h4 {
          font-size: 1.8rem;
          margin-bottom: 10px;
        }
        p {
          font-size: 1.6rem;
          color: #ddd;
        }
      }
    }
    //전송버튼
    .submit-btn-box {
      text-align: right;
      .term-submit-btn {
        width: 100%;
        max-width: 180px;
        height: 55px;
        color: #333;
        background-color: $main-color;
        border-radius: $border-radius;
        transition: 0.4s;
        margin-top: 20px;
        &:hover {
          background-color: darken($main-color, 10%);
          font-weight: $font-blod;
        }

        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px rgba(0, 255, 163, 0.5);
        }
      }
    }
  }
}

/* 인증 클릭후 팝업 */
.certified-modal-container {
  .modal__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    form {
      flex-direction: row-reverse;
      ol {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        li {
          display: flex;
          justify-content: center;
          margin-bottom: 40px;
          label {
            width: 100%;
            display: flex;
            flex-direction: column;
            input,
            textarea {
              margin-top: 20px;
            }
          }
        }
      }
    }
    i {
      color: #fff;
      font-size: 2.5rem;
      cursor: pointer;
      position: absolute;
      top: 5%;
      right: 14%;
    }

    .submit-btn-box {
      width: 80%;
      height: 50px;
      background-color: #00ffa3;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        width: 100%;
        height: 100%;
        transition: 0.4s;
        border-radius: $border-radius;

        &:hover {
          background-color: darken($main-color, 10%);
          font-weight: 600;
        }
      }
    }
  }
}

.certified-modal-save-container {
  .modal__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .save-img-text-tie {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 100%;
        max-width: 150px;
      }
      p {
        font-size: 2.5rem;
        font-weight: $font-blod;
        margin-top: 30px;
        margin-bottom: 7rem;
        letter-spacing: 1.5px;
      }
    }
    a {
      width: 65%;
      height: 50px;
      background-color: #00ffa3;
      border-radius: $border-radius;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #333;
      font-weight: $font-blod;
      &:hover {
        background-color: darken($main-color, 10%);
      }
    }
  }
}

/* 반응형 */
/* main */
@media (max-width: 765px) {
  #wrap {
    .main-contents {
      .contents__inner {
        ul {
          width: 100%;

          li {
            h2 {
              font-size: clamp(1.9rem, 3.448vw, 2.4rem);
            }
            p,
            label {
              font-size: clamp(1.4rem, 3.889vw, 1.6rem);
            }

            &.form-box {
              form {
                .certified-btn {
                  max-width: clamp(70px, 19.444vw, 120px);
                }
              }
            }
          }
        }
      }
    }
  }

  //이용약관 모달
  .modal-common {
    .modal__inner {
      .modal-header {
        h2 {
          font-size: clamp(1.6rem, 4.444vw, 2rem);
        }
      }
      .term-privacy-text {
        li {
          &:first-child {
            h3 {
              font-size: clamp(1.5rem, 4.167vw, 2rem);
            }
          }
        }
      }

      .term-privacy-text {
        li {
          h4 {
            font-size: clamp(1.4rem, 4.444vw, 1.8rem);
          }
          p {
            font-size: clamp(1.3rem, 4.444vw, 1.6rem);
          }
        }
      }

      .submit-btn-box {
        .term-submit-btn {
          width: clamp(120px, 33.333vw, 180px);
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .certified-modal-container {
    .modal__inner {
      form {
        ol {
          li {
            label {
              font-size: clamp(1.4rem, 3.889vw, 1.6rem);
            }
          }
        }
      }
    }
  }
}
